#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 375px) {
  .card {
    padding: 1.2em;
    margin: 1.2em;
    width: 375px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 30px;
    flex-direction: column;
  }
}

.card {
  padding: 1.2em;
  display: flex;
  justify-content: center;
  width: 375px;
  background-color: #fff;
  border-radius: 30px;
  flex-direction: column;
}

.content {
  padding: 0px 1em 0px 1em;
}

.title {
  color: hsl(218, 44%, 22%);
}

.description {
  color: hsl(216, 15%, 48%);
}

.image {
  width: 100%px;
  border-radius: 30px;
}
